<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="Conexion" providerName="System.Data.SqlClient" connectionString="Trusted_Connection=yes;Data Source=LOCALHOST\SQLSERVER2012; User ID=gdCupon2019; Password=gd2019; Initial Catalog=GD2C2019;"/>
    </connectionStrings>
    <appSettings>
      <add key="fecha_dia" value="2019-11-09" />
    </appSettings>
</configuration>